* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.box {
    width: 200px;
    height: 200px;
    /* background-color: rgb(255, 0, 51); */
    /* border: 1px solid darkblue; */
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: rgb(7, 250, 165);
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 0, 0);
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: rgb(38, 27, 137);
}
